Options -Indexes
RewriteEngine On

# Запрещаем прямой доступ к папке modules
RewriteRule ^modules/ - [F,L]
RewriteBase /vladislava-iva.github.io/project-web7/project1/

# Пропускаем существующие файлы и папки без изменений

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Всё остальное направляем на index.php с параметром q

RewriteRule ^(.\*)$ index.php?q=$1 [L,QSA]
